.html{
    /* color: #ED661F; */
    font-family: 'poppins','inter';
    
}
/* styling the navigation bar'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */

.navigation{
    width: 100%;
    padding: 20px; 
    background-color: black;
    margin-top: 0%;
}
#agri{
    text-align: start;
    color: white;
}
.nav{
    float: right;
    clear: both;
}
.button1{
    background-color: #ED661F;
    text-transform: capitalize;
    padding: 12px 15px;
    justify-content: space-around;
    color: white;
    float: right;
} 
a:link,a:visited{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover,a:active{
    background-color:#ED661F;
    color: white;
}
.navlinks{
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    width: 30;
    padding-top: 0%;
}
u{
    text-decoration: none;
}

/* styling subheading2;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
.subheading2{
    width: 100%;
    padding-bottom: 300px;
    background-image: url('./images/image.png');
    
}
#image2{
    float: right;
    width: 50%;
}
.image2content{
    flex-direction: column;
    text-align: start;
    padding-left: 30px;
    padding-top: 20px;
    word-spacing: 5px;

}
.explore{
    float: left;
    background-color: #ED661F;
    text-transform: capitalize;
    padding: 12px 15px;
    justify-content: space-around;
    color: white;
    
}
.followers{
    padding: 20px 40px;
    background-color: white ;
    box-shadow: 0 0 0 0 #7d776c;
    display: flex;
    list-style-type: none;
    float: right;
    padding-right: 15%;
    border: solid grey;
    
}

.view{
    padding: 10px;
    float: right;
    display: flex;
    flex-direction: row;
    text-align: center;

}
/* subheading3;;;;................................................. */
.subheading3{
    padding: 0px 100px;
    padding-bottom: 30px;
    text-align: start;
}
.subheading3 > img{
    float: right;
}
.subheading3cont{
    display: flex;
    flex-direction: column;
}
/* subheading4''''''''''''''''''''''''''''''''''''''''''''''''''''' */
.sub4cont{
    display: flex;
    flex-direction: column;
    text-align: center;
}
/* subheading5....................................................... */
.sub5{
    width: 100%;
    padding-top: 20px;
}
.most_popular{
    display: flex;
    flex-direction: row;
}
.sub5head{
    text-align: start;
    display: flex;
    flex-direction: row;
}
.card1{
    padding-left: 0%;
    padding-right: 70px;
}

/* subheading 6''''''''''''''''''''''''''''''''''''''''''' */
.sub6cont{
    display: flex;
    flex-direction: row;
}
.card2{
    padding-left: 0%;
    padding-right: 70px;
}
.fas{
    padding-top: 30px;
    float: right;
    padding-bottom: 50px;
}
/* ratings'''''''''''''''''''''''''''''''''''''''''''''''''''' */
.subheading7{
    align-items: center;
    display: flex;
    flex-direction: row;
}
.checked{
    color: orange;
}
.rebecca{
    padding-left: 0%;
    padding-right: 150px;
}
.read_more{
    float: right;
    padding-top: 50px;
}
/* inputs''''''''''''''''''''''''''''''''''''''''''''''''''''''' */
.footerdetails{
    background-color: black;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
    color: white;
}

#submit{
    padding: 5px 20px;
    background-color: #ED661F;
}
#email{
    padding: 5px;
}
/* icons''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */
.footer{
    padding-top: 10%;
}


.fa-twitter{
    text-align: start;  
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px; ;
}
.fa-facebook{
    
    /* text-align: center;   */
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px; ;
}
.fa-instagram{
    
    /* text-align: center;   */
    margin: 5px 2px;  
    font-size: 30px;  
    width: 50px; ;
}
.footerdet1{
    text-align: start;
}