.html{
    /* color: #ED661F; */
    font-family: 'poppins','inter';
    
}
/* styling the navigation bar'''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''''' */

.navigation{
    width: 100%;
    padding: 20px; 
    background-color: black;
    margin-top: 0%;
}
#agri{
    text-align: start;
    color: white;
}
.nav{
    float: right;
    clear: both;
}
.button1{
    background-color: #ED661F;
    text-transform: capitalize;
    padding: 12px 15px;
    justify-content: space-around;
    color: white;
    float: right;
} 
a:link,a:visited{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
}
a:hover,a:active{
    background-color:#ED661F;
    color: white;
}
.navlinks{
    text-align: center;
    padding: 10px 20px;
    display: inline-block;
    width: 30;
    padding-top: 0%;
}
u{
    text-decoration: none;
}

/* styling subheading2;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;; */
.subheading2{
    width: 100%;
    padding-bottom: 300px;
    background-image: url('./images/image.png');
    
}
#image2{
    float: right;
    width: 50%;
}
.image2content{
    flex-direction: column;
    text-align: start;
    padding-left: 30px;
    padding-top: 20px;
    word-spacing: 5px;

}
.explore{
    float: left;
    background-color: #ED661F;
    text-transform: capitalize;
    padding: 12px 15px;
    justify-content: space-around;
    color: white;
    
}
.followers{
    padding: 20px 40px;
    background-color: white ;
    box-shadow: 0 0 0 0 #7d776c;
    display: flex;
    list-style-type: none;
    float: right;
    padding-right: 15%;
    border: solid grey;
    
}

.view{
    padding: 10px;
    float: right;
    display: flex;
    flex-direction: row;
    text-align: center;

}
/* subheading3;;;;................................................. */
.subheading3{
    padding: 0px 100px;
    padding-bottom: 30px;
    text-align: start;
}
.subheading3 > img{
    float: right;
}
.subheading3cont{
    display: flex;
    flex-direction: column;
}